header {
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
}

section {
    text-align: center;
    margin: 100px auto 0 auto;
    max-width: 600px;
}

.btnStyle {
    color: white;
    background-color: blueviolet;
    border-radius: 4px;
    border: none;
    padding: 8px;
    margin: 5px;
}

.scores {
    color: blueviolet;
}

#btn:hover, .scores:hover {
    background-color: rgb(238, 170, 255);
}

.initialHide {
    display: none;
}